@media(max-width: 1540px){
  .services__left {
    max-width: 775px;
  }
}
@media(max-width: 1480px){
  .about-us__tab {
    width: 400px;
  }
}
@media(max-width: 1420px){
  .about-us__right{
    width: 950px;
    &::before{
      width: 950px;
    }
  }
  .about-us__container {
    right: 387px;
  }
}
@media(max-width: 1360px){
  .about-us__tab {
    width: 350px;
  }
}
@media(max-width: 1340px){
  .services__left {
    max-width: 670px;
  }
}
@media(max-width: 1310px){
  .about-us__container {
    right: 440px;
    max-width: 540px;
    height: 260px;
    padding: 20px 35px 30px 35px;
  }
  .about-us__right {
    width: 845px;
    &::before{
      width: 845px;
    }
  }
  .about-us__container {
    right: 335px;
  }
}
@media(max-width: 1250px){
  .header {
    max-width: 1100px;
    left: 50%;
    transform: translateX(-50%);
  }
  .first-screen__slider-item__title {
    font-size: 45px;
    line-height: 51px;
  }
  .services__right {
    padding-top: 40px;
    padding-left: 20px;
  }
  .services__left {
    height: 745px;
  }
  .services__right-textarea{
    max-width: 430px;
  }
}
@media(max-width: 1200px){
  .about-us__inner{
    flex-direction: column;
    align-items: center;
  }
  .about-us__left{
    margin: 0 auto;
  }
  .about-us__tab {
    width: 540px;
  }
  .about-us__left-title{
    text-align: center;
  }
  .about-us__container{
    position: static;
  }
  .about-us__container {
    border: 1px solid #000;
  }
}
@media(max-width: 1170px){
  .services__item-title,
  .about-us__left-title,
  .callback__title{
    font-size: 21px;
    line-height: 28px;
  }
  .services__item-top {
    width: 309px;
  }
  .services__item-bottom__img {
    width: 309px;
    height: 211px;
  }
  .services__items {
    left: 50%;
    transform: translateX(-50%);
  }
}
@media(max-width: 1150px){
  .first-screen__slider-item__title {
    font-size: 40px;
    line-height: 46px;
  }
  .header {
    max-width: 1050px;
  }
  .first-screen__slider-item__text {
    padding: 0;
  }
}
@media(max-width: 1090px){
  .header {
    max-width: 1000px;
  }
  .first-screen__slider-item__title {
    font-size: 37px;
    line-height: 43px;
  }
  .services__left {
    max-width: 570px;
  }
}
@media(max-width: 1010px){
  .header {
    max-width: 900px;
    top: 50px;
  }
  .menu__list-link {
    padding: 15px 20px;
  }
  .header__bottom-search {
    padding-right: 70px;
  }
  .first-screen__slider-item__title {
    font-size: 34px;
    line-height: 40px;
  }
  .services__item + .services__item {
    margin-left: 20px;
  }
  .success__item-number {
    font-size: 45px;
    line-height: 54px;
  }
  .success {
    height: 250px;
  }
}
@media(max-width: 980px){
  .services__items {
    transform: translateX(0);
    position: static;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 15px;
  }
  .services__item + .services__item {
    margin-left: 0;
  }
}
@media(max-width: 950px){
  .footer__top-inner--mobile{
    flex-direction: column;
    align-items: center;
  }
  head{
    width: 950px;
  }
  .footer__top-item:first-child,
  .footer__top-item:nth-child(2),
  .footer__top-item:nth-child(3),
  .footer__top-item:nth-child(4){
    max-width: 320px;
  }
  .footer__top-item{
    text-align: center;
  }
  .footer__top-item__location-list .footer__top-item__list-item::before{
    left: 60px;
  }
  .footer__top-item + .footer__top-item{
    margin-top: 20px;
  }
  .footer__top-item__title{
    margin-bottom: 0;
  }
  .footer__top-item__click--mobile{
    display: none;
  }
  .footer__top-item__click--mobile.footer__top-item__click--mobile__active{
    display: block;
  }
  .footer__top {
    padding: 50px 0 35px;
  }
}
@media(max-width: 930px){
  .header {
    max-width: 850px;
  }
  .first-screen__slider-arrows {
    width: 60px;
    height: 60px;
  }
  .menu__list-link {
    padding: 15px 17px;
  }
  .header__bottom-search {
    padding-right: 56px;
  }
  .first-screen__slider-item__title {
    white-space: normal;
    margin-bottom: 10px;
  }
  .first-screen__slider-item__textarea{
    max-width: 650px;
  }
  .success__item-text {
    font-size: 23px;
    line-height: 27px;
  }
  head{
    width: 930px;
  }
}
@media(max-width: 900px){
  .services__left {
    max-width: 500px;
    height: 710px;
  }
  head{
    width: 900px;
  }
}
@media(max-width: 870px) {
  .first-screen .header{
    display: none;
  }
  .header__responsive{
    display: block;
    transform: translateX(0);
    max-width: 100%;
  }
  .header__bottom {
    border-radius: 0;
  }
  .first-screen__slider-item {
    height: 80vh;
  }
  .first-screen__slider-item__textarea {
    position: static;
    transform: translateX(0) translateY(0);
    margin: 0 auto;
    padding-top: 150px;
  }
  .first-screen__slider-dots {
    display: flex;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    li{
      font-size: 0;
      line-height: 0;
    }
    li button {
      padding: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: rgba(#e1e1e1, .4);
      border: none;
      cursor: pointer;
      transition: all .3s;
    }
    li + li {
      margin-left: 20px;
    }
  }
  .first-screen__slider-dots .slick-active button{
    background-color: #fff;
  }
  .success__items{
    flex-wrap: wrap;
  }
  head{
    width: 870px;
  }
}
@media(max-width: 850px){
  .about-us__right {
    width: 700px;
    height: 470px;
    &::before{
      width: 700px;
      height: 470px;
    }
  }
  .about-us__left-title {
    padding: 40px 0 30px;
  }
  head{
    width: 850px;
  }
}
@media(max-width: 800px){
  .menu__list-link {
    padding: 15px 15px;
  }
  .first-screen__slider-item__title {
    font-size: 30px;
    line-height: 36px;
  }
  .first-screen__slider-item__textarea {
    padding-top: 200px;
  }
  .header__bottom-search__input {
    width: 120px;
  }
  .header__bottom-search__button {
    width: 38px;
  }
  .header__bottom-search {
    padding-right: 46px;
  }
  .services__right {
    padding-top: 30px;
    padding-left: 10px;
  }
  .services__inner{
    flex-direction: column;
  }
  .services__left {
    max-width: 100%;
  }
  .services__right-textarea{
    max-width: 100%;
  }
  .container__special {
    max-width: 100%;
  }
  .services__right{
    padding-left: 0;
  }
  .success{
    min-height: 250px;
    height: 100%;
  }
  head{
    width: 800px;
  }
}
@media(max-width: 788px){
  .success__items{
    top: 0;
    padding: 30px 0;
  }
}
@media(max-width: 760px){
  .callback__inner{
    flex-direction: column;
  }
  .callback__link{
    margin-top: 20px;
  }
  head{
    width: 760px;
  }
}
@media(max-width: 730px){
  .menu__list{
    flex-direction: column;
    text-align: center;
  }
  .menu{
    width: 100%;
  }
  .menu__list-link{
    width: 100%;
    transition: all .3s;
    &:hover{
      background-color: #ffffff;
      color: #ee9700;
    }
  }
  .menu__mobile{
    display: block;
    width: 40px;
    height: 30px;
    position: absolute;
    right: 30px;
    top: 40px;
    cursor: pointer;
    div{
      width: 40px;
      height: 5px;
      background-color: #000;
    }
    div + div {
      margin-top: 7px;
    }
  }
  .header__bottom-search{
    display: none;
  }
  .header__bottom-inner {
    flex-direction: column;
  }
  .success {
    background-position: center center;
  }
  head {
    width: 730px;
  }
}
@media(max-width: 700px){
  .success__item-number {
    font-size: 40px;
    line-height: 49px;
  }
  .about-us__right {
    width: 560px;
    &::before{
      width: 560px;
    }
  }
  .about-us__right::before {
    background-position: center right;
  }
  head{
    width: 700px;
  }
}
@media(max-width: 650px){
  .first-screen__slider-item__textarea {
    max-width: 580px;
  }
  .first-screen__slider-item__title {
    font-size: 27px;
    line-height: 33px;
  }
  .services__items{
    justify-content: center;
  }
  head {
    width: 650px;
  }
}
@media(max-width: 560px){
  .about-us__right {
    width: 400px;
    height: 420px;
    &::before{
      width: 400px;
      height: 420px;
      background-position: center center;
    }
  }
  .footer__top-item__title{
    font-size: 17px;
    line-height: 21px;
  }
  head{
    width: 560px;
  }
}
@media(max-width: 540px){
  .services__left{
    height: 650px;
  }
  .services__items {
    margin-top: 30px;
  }
  .about-us__container {
    max-width: 450px;
    padding: 10px 15px;
    height: 270px;
    text-align: center;
    margin: 0;
  }
  .about-us__tab {
    width: 470px;
  }
  .about-us__tabs {
    align-items: center;
  }
  .about-us__tab {
    width: 320px;
  }
  head {
    width: 540px;
  }
}
@media(max-width: 500px){
  .callback__title{
    font-size: 18px;
    line-height: 25px;
    text-align: center;
  }
  head {
    width: 500px;
  }
}
@media(max-width: 470px){
  .menu__mobile {
    right: 10px;
  }
  .success__items{
    flex-direction: column;
  }
  .success__item-number {
    font-size: 37px;
    line-height: 46px;
  }
  head {
    width: 470px;
  }
}
@media(max-width: 450px){
  .about-us__left-title {
    padding: 30px 0 20px;
  }
  .about-us__container {
    max-width: 320px;
    padding: 0 10px;
    height: 335px;
  }
  .about-us__right {
    width: 320px;
    height: 380px;
    &::before{
      width: 320px;
      height: 380px;
      background-position: -480px -90px;
    }
  }
  head{
    width: 450px;
  }
}
@media(max-width: 420px){
  .logo{
    width: 55%;
    img{
      width: 100%;
    }
  }
  .menu__mobile {
    top: 35px;
    width: 35px;
    height: 25px;
  }
  .menu__mobile div + div {
    margin-top: 5px;
  }
  .menu__mobile div {
    width: 35px;
  }
  .services__right-textarea__title{
    text-align: center;
  }
  .services__right-textarea__title::before {
    left: 50%;
    transform: translateX(-50%);
  }
  .success__item-text {
    font-size: 20px;
    line-height: 24px;
  }
  head{
    width: 420px;
  }
}
@media(max-width: 390px){
  .footer__bottom {
    font-size: 11px;
    line-height: 16px;
  }
  head{
    width: 390px;
  }
}
@media(max-width: 350px){
  .menu__mobile {
    top: 33px;
  }
  .footer__top-item__location-list .footer__top-item__list-item::before {
    left: 50px;
  }
  head{
    width: 350px;
  }
}
@media(max-width: 320px){
  head{
    width: 320px;
  }
}
@media(min-width: 731px){
  .menu__list{
    display: flex !important;
  }
}