%open-sans__regular{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
%open-sans__regularItal{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: italic;
}
%open-sans__SemiBold{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
%open-sans__Bold{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}
%raleway-SemiBold{
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
}
%raleway-Bold{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}