@import "vars";
@import "libs";
@import "fonts";
@import "global";

/*start header*/
.header{
  position: absolute;
  z-index: 5;
  max-width: 1140px;
  width: 100%;
  top: 75px;
  &__responsive{
    display: none;
    position: static;
  }
  &__top{
    background-color: #fff;
    padding: 31px 0 26px;
    border-radius: 5px 5px 0 0;
  }
  &__top-logo{
    text-align: center;
  }
  &__bottom{
    background-color: #ee9700;
    border-radius: 0 0 5px 5px;
  }
  &__bottom-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__bottom-search{
    padding-right: 88px;
    position: relative;
  }
  &__bottom-search__input{
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 3px 0 0 3px;
    color: #fff;
    width: 160px;
    padding: 5px 9px 6px;
    &::placeholder{
      color: rgba(#fff, .49);
    }
  }
  &__bottom-search__button{
    background-color: #fff;
    border-radius: 0 3px 3px 0;
    border: 1px solid #fff;
    width: 47px;
    height: 32px;
    cursor: pointer;
    position: absolute;
    &::before{
      position: absolute;
      content: "";
      background-image: url('../images/search.png');
      width: 13px;
      height: 13px;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}
.menu{
  &__list{
    display: flex;
  }
  &__list-link{
    @extend %open-sans__Bold;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    text-transform: uppercase;
    padding: 15px 23px;
  }
  &__mobile{
    display: none;
  }
}
/*end header*/

/*start first-screen*/
.first-screen{
  position: relative;
  &__slider-item{
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    &::before{
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background-color: rgba(#000, .74);
    }
  }
  &__slider-item__textarea{
    position: absolute;
    z-index: 5;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  &__slider-item__title{
    font-size: 48px;
    line-height: 54px;
    margin-bottom: 25px;
  }
  &__slider-item__text{
    padding: 0 110px;
  }
  &__slider-arrows{
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
    width: 68px;
    height: 68px;
    background-color: #ee9700;
    border: none;
    cursor: pointer;
    transition: all .3s;
    &:hover{
      background-color: #814f01;
    }
  }
  &__slider-next{
    right: 23px;
  }
  &__slider-prev{
    left: 23px;
  }
}
/*end first-screen*/

/*start services*/
.services{
  position: relative;
  &__inner{
    display: flex;
  }
  &__left{
    max-width: 920px;
    height: 792px;
    width: 100%;
    position: relative;
    &::before{
      position: absolute;
      content: "";
      background-image: url('../images/services-img.jpg');
      max-width: 920px;
      max-height: 792px;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    &::after{
      position: absolute;
      content: "";
      background-color: rgba(#000, .36);
      max-width: 920px;
      max-height: 792px;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }
  &__right{
    color: #565656;
    padding-top: 70px;
    padding-left: 33px;
  }
  &__right-textarea__title{
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    position: relative;
    &::before{
      position: absolute;
      content: "";
      width: 65px;
      height: 3px;
      background-color: #ee9700;
      left: 0;
      bottom: 0;
    }
  }
  &__right-textarea__link{
    @extend %raleway-Bold;
    color: #ee9700;
    padding-right: 13px;
    position: relative;
    &::after{
      position: absolute;
      content: "";
      background-image: url('../images/services__right-textarea__link-arrow.png');
      width: 9px;
      height: 13px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__items{
    position: absolute;
    bottom: 85px;
    display: flex;
  }
  &__item{
    & + & {
      margin-left: 31px;
    }
  }
  &__item-top{
    width: 359px;
    padding: 21px 20px 22px;
    background-color: #ee9700;
    border-radius: 10px 10px 0 0;
  }
  &__item-title{
    text-transform: uppercase;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
  }
  &__item-bottom__img{
    width: 359px;
    height: 261px;
    border-radius: 0 0 10px 10px;
  }
}
/*end services*/

/*start success*/
.success{
  background-repeat: no-repeat;
  background-size: cover;
  height: 264px;
  position: relative;
  &::before{
    position: absolute;
    content: "";
    background-color: rgba(#ee9700, .79);
    width: 100%;
    height: 100%;
  }
  &__items{
    display: flex;
    position: relative;
    z-index: 5;
    justify-content: space-between;
    top: 70px;
  }
  &__item{
    text-align: center;
  }
  &__item-number{
    font-size: 50px;
    line-height: 59px;
    padding-bottom: 15px;
    position: relative;
    &::before{
      position: absolute;
      content: "";
      width: 40px;
      height: 2px;
      background-color: #fff;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__item-text{
    @extend %open-sans__regular;
    font-size: 26px;
    line-height: 30px;
    margin-top: 15px;
  }
}
/*end success*/

/*start about-us*/
.about-us{
  color: #3d3d3d;
  position: relative;
  &__inner{
    display: flex;
  }
  &__left{
    margin-left: auto;
  }
  &__left-title{
    padding: 65px 0 40px;
    font-size: 24px;
    line-height: 28px;
  }
  &__right{
    height: 526px;
    width: 1018px;
    position: relative;
    &::before{
      position: absolute;
      content: "";
      background-image: url('../images/about-us__right-img.jpg');
      width: 1018px;
      height: 100%;
    }
  }
  &__container{
    position: absolute;
    z-index: 5;
    max-width: 564px;
    min-height: 300px;
    background-color: #fff;
    padding: 20px 35px 30px 25px;
    bottom: 0;
    right: 454px;
  }
  &__content-text {
    & + & {
      margin-top: 25px;
    }
  }
  &__tabs{
    display: flex;
    flex-direction: column;
  }
  &__tab{
    width: 450px;
    position: relative;
    padding: 18px 30px 19px 55px;
    color: #ee9700;
    @extend %open-sans__SemiBold;
    &::before,
    &::after{
      position: absolute;
      content: "";
    }
    &::after{
      background-image: url('../images/about-us__arrow.png');
      width: 5px;
      height: 9px;
      left: 40px;
      top: 50%;
      transform: translateY(-50%);
    }
    & + & {
      &::before{
        width: 100%;
        height: 1px;
        background-color: #e1e1e1;
        top: 0;
        left: 0;
      }
    }
    &.tab--active{
      background-color: #ededed;
      transition: background-color .3s;
    }
  }
}
/*end about-us*/

/*start callback*/
.callback{
  background-color: #ee9700;
  padding: 33px 7px 34px;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title{
    font-size: 24px;
    line-height: 28px;
  }
  &__link{
    padding: 15px 38px 16px;
    border: 1px solid #fff;
    transition: all .3s;
    &:hover{
      background-color: #fff;
      color: #ee9700;
      border: 1px solid #ee9700;
    }
  }
}
/*end callback*/

/*start footer*/
.footer{
  &__top{
    background-color: #161616;
    padding: 50px 0 10px;
  }
  &__top-inner{
    display: flex;
    justify-content: space-between;
  }
  &__top-item{
    &:first-child{
      max-width: 278px;
    }
    &:nth-child(2){
      max-width: 200px;
    }
    &:nth-child(3){
      max-width: 165px;
    }
    &:nth-child(4){
      max-width: 262px;
    }
  }
  &__top-item__title{
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #ee9700;
    margin-bottom: 28px;
    cursor: pointer;
  }
  &__top-item__text-descr,
  &__top-item__text-link{
    @extend %open-sans__regularItal;
  }
  &__top-item__text-link{
    display: inline;
    color: #ee9700;
  }
  &__top-item__text-descr{
    color: #5e5e5e;
    display: block;
  }
  &__top-item__list-item{
    position: relative;
    padding-left: 10px;
    &::before{
      position: absolute;
      content: "";
      background-image: url('../images/footer__arrow.png');
      width: 5px;
      height: 9px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__top-item__list.footer__top-item__location-list{
    margin-top: 20px;
    .footer__top-item__list-item{
      &:first-child{
        padding-left: 20px;
        &::before{
          background-image: url('../images/location.png');
          width: 9px;
          height: 13px;
        }
      }
      &:nth-child(2){
        padding-left: 20px;
        &::before{
          background-image: url('../images/phone.png');
          width: 12px;
          height: 12px;
        }
      }
      &:nth-child(3){
        padding-left: 23px;
        &::before{
          background-image: url('../images/e-mail.png');
          width: 15px;
          height: 12px;
        }
      }
    }
  }
  &__bottom{
    background-color: #000000;
    padding: 30px 0;
    text-align: center;
    font-size: 13px;
    line-height: 18px;
  }
}
/*end footer*/
@supports (-ms-ime-align:auto) {
  .header__bottom-search__button {
    right: 41px;
    top: 0;}
}
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .header__bottom-search__button {
    right: 41px;}
}
@import "media";
