@import "vars";
@import "libs";
@import "fonts";
@import "global";

/*start header*/
.header{
  position: absolute;
  z-index: 5;
  max-width: 1140px;
  width: 100%;
  top: 75px;
  &__top{
    background-color: #fff;
    padding: 31px 0 26px;
    border-radius: 5px 5px 0 0;
  }
  &__top-logo{
    text-align: center;
  }
  &__bottom{
    background-color: #ee9700;
    border-radius: 0 0 5px 5px;
  }
  &__bottom-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__bottom-search{
    padding-right: 88px;
    position: relative;
  }
  &__bottom-search__input{
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 3px 0 0 3px;
    color: #fff;
    width: 160px;
    padding: 5px 9px 6px;
    &::placeholder{
      color: rgba(#fff, .49);
    }
  }
  &__bottom-search__button{
    background-color: #fff;
    border-radius: 0 3px 3px 0;
    border: 1px solid #fff;
    width: 47px;
    height: 32px;
    cursor: pointer;
    position: absolute;
    &::before{
      position: absolute;
      content: "";
      background-image: url('../images/search.png');
      width: 13px;
      height: 13px;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}
.menu{
  &__list{
    display: flex;
  }
  &__list-link{
    @extend %open-sans__Bold;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
    text-transform: uppercase;
    padding: 15px 23px;
  }
}
/*end header*/

/*start first-screen*/
.first-screen{
  position: relative;
  &__slider-item{
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    &::before{
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background-color: rgba(#000, .74);
    }
  }
  &__slider-item__textarea{
    position: absolute;
    z-index: 5;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  &__slider-item__title{
    font-size: 48px;
    line-height: 54px;
    @extend %raleway-Bold;
    white-space: nowrap;
    margin-bottom: 25px;
  }
  &__slider-item__text{
    padding: 0 110px;
  }
  &__slider-arrows{
    position: absolute;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
    width: 68px;
    height: 68px;
    background-color: #ee9700;
    border: none;
    cursor: pointer;
    transition: all .3s;
    &:hover{
      background-color: #814f01;
    }
  }
  &__slider-next{
    right: 23px;
  }
  &__slider-prev{
    left: 23px;
  }
}
/*end first-screen*/

/*start services*/
.services{
  position: relative;
  &__inner{
    display: flex;
  }
  &__left{
    max-width: 920px;
    height: 792px;
    width: 100%;
    position: relative;
    &::before{
      position: absolute;
      content: "";
      background-image: url('../images/services-img.jpg');
      max-width: 920px;
      max-height: 792px;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
    &::after{
      position: absolute;
      content: "";
      background-color: rgba(#000, .36);
      max-width: 920px;
      max-height: 792px;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }
  &__right{
    color: #565656;
    padding-top: 70px;
    padding-left: 33px;
  }
  &__right-textarea__title{
    @extend %raleway-SemiBold;
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    position: relative;
    &::before{
      position: absolute;
      content: "";
      width: 65px;
      height: 3px;
      background-color: #ee9700;
      left: 0;
      bottom: 0;
    }
  }
  &__right-textarea__link{
    @extend %raleway-Bold;
    color: #ee9700;
    padding-right: 13px;
    position: relative;
    &::after{
      position: absolute;
      content: "";
      background-image: url('../images/services__right-textarea__link-arrow.png');
      width: 9px;
      height: 13px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  &__items{
    position: absolute;
    bottom: 85px;
    display: flex;
  }
  &__item{
    & + & {
      margin-left: 31px;
    }
  }
  &__item-top{
    width: 359px;
    padding: 21px 20px 22px;
    background-color: #ee9700;
    border-radius: 10px 10px 0 0;
  }
  &__item-title{
    text-transform: uppercase;
    font-size: 24px;
    line-height: 31px;
    @extend %raleway-Bold;
    text-align: center;
  }
  &__item-bottom__img{
    width: 359px;
    height: 261px;
    border-radius: 0 0 10px 10px;
  }
}
/*end services*/


@import "media";
